.blog {
    &__slider {}

    &__wrapper {}

    &__slide {
        .blog__img {
            height: 9.8125em;
            /* 157/16 */
            @media (min-width: 768px) {
                height: 17.1875em;
            }
        }
    }

    &__item {
        color: $second_color;

        &:hover {
            .blog__img {
                img {
                    transform: scale(1.2);
                }
            }

        }
    }

    &__img {
        overflow: hidden;
        margin-bottom: 0.875em;
        @media (min-width: 768px) {
            margin-bottom: 2.125em;
        }

        img {
            transform: scale(1);
            transition: 0.3s;

        }

    }

    &__date {
        margin-bottom: 0.1875em;
        line-height: 0.9;
        @media (min-width: 768px) {
            margin-bottom: 1em;

        }

        span {
            font-size: 0.5em;
            @media (min-width: 768px) {
                font-size: 0.875em;

            }
            color: #AEAEAE;
        }
    }

    &__title {
        margin-bottom: 0.5625em;
        @media (min-width: 768px) {
            margin-bottom: 0.9375em;

        }
        // line-height: 1.417;
        // min-height: 4.25em;

        a {
            font-weight: 500;
            font-size: 1em;
            color: $second_color;
            @media (min-width: 768px) {
                font-size: 1.5em;

            }

            &:hover {
                color: $color_warning;
            }
        }

    }

    &__description {
        line-height: 0.8;

        span {
            font-size: 0.625em;
            @media (min-width: 768px) {
                font-size: 0.875em;

            }
        }
    }

}
