.docount {
    .section__subtitle {
        margin-top: 0.5em;
        @media (min-width: 768px) {
            margin-top: 2.5em;

        }
    }

    &__wrap {
        background-color: #F1F5F5;
        padding: 1.5em 1em;

        @media (min-width: 768px) {
            background-image: url("../../img/docount_bg.webp");
            padding: 5em 4.375em;
        }

    }

    &__content {
        @media (min-width: 768px) {
            width: 42.5em;
        }
    }

    &__button {
        .btn span {
            text-transform: none;
            @media (max-width: 767px) {
                font-size: 0.53em;
            }
        }
    }

    &__mask {
        position: absolute;
        bottom: 0;
        right: 0;

        border: 1px solid #000;
    }

}
