//- design
extends ../../layout/layout.pug
block variable
    -var path = '../../';
    //- -var page = true;

block content
    // begin breadcrumbs
    .breadcrumbs.breadcrumbs_reverse.section
        .container_center.container_center_right
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная
                span.kb_sep
                span
                    a(href="#")
                        span Услуги
                span.kb_sep

                span.kb_title Дизайн-проектирование
    // end breadcrumbs

    // begin head
    section#head.head.head_design.section(style="background-image: url('../../img/design_bg.webp')").bg.lines
        .lines__wrap
            .lines__list
                span
                span
                span
                span
                span

        .container_center.container_center_right

            .head__content
                .head__left
                    .head__subtitle.mb20
                        span По всей России 

                    h1.head__title.mb22
                        span <b>Создаем и реализуем уникальные дизайн-проекты</b> домов, квартир и коммерческой недвижимости
                    .head__subtitle.mb56
                        span Проекты АртСтрой — не просто красивые картинки. Разрабатываем чертежи и планы для 100% реализации 
                    .head__action.mb20
                        a.btn.show_js(href="#application")
                            span Рассчитать стоимость
                            span дизайн-проекта
                        a.btn.btn_dark.btn_whatsapp(href="#")
                            span Напишите нам в WhatsApp
                            small время ответа 10 минут
                    .head__text
                        span Пройдите короткий тест, чтобы мы сориентировали по стоимости и сформировали предложение для вас.
                .head__right
                    .head__list
                        each item in [ 'Создали более <b>1 000 проектов</b>', '<b>16 профессиональных дизайнеров</b> с прекрасным чувством стиля', 'Комплектуем <b>реальными позициями</b>', 'Действует <b>рассрочка<br> платежа</b> на 12 месяцев' ]
                            .head__item
                                .head__mark.check_mark
                                    i.icon_mark
                                span!=item 

    // end head

    // begin stages
    section#stages.stages.section
        .container_center.container_center_right
            .stages__content

                .stages__left
                    h2.section__title
                        span <b>7 основных шагов</b> от идеи к оформленному дизайн-проекту 

                    .stages__control
                        .stages__dotted
                        .stages__arrows.custom_arrows.desktop
                            i.icon_arrow_left
                            i.icon_arrow_right

                .stages__right
                    .swiper__label.mobile
                        .swiper__img
                            img(src="../../img/hand.svg")
                        span Листайте влево/вправо

                    .swiper.stages__slider.stages-swiper-js
                        .swiper-wrapper

                            .swiper-slide
                                .stages__item.stages__item_step
                                    .stages__wrap
                                        .stages__top
                                            .stages__title
                                                span Шаг 1
                                            .stages__naw
                                                .stages__number
                                                    span 01


                                        .stages__text
                                            p Познакомимся, ответим на вопросы и согласуем встречу на объекте или у нас в офисе
                                        .stages__phone
                                            span Звоните:
                                            a(href="tel:+7 (391) 2-054-081") +7 (391) 2-054-081
                                        .stages__button
                                            a.btn.btn_dark.btn_whatsapp(href="#")
                                                span Напишите нам в WhatsApp
                                                small время ответа 10 минут




                            .swiper-slide.counter-item
                                .stages__item.stages__item_step
                                    .stages__wrap
                                        .stages__top
                                            .stages__title
                                                span Шаг 2
                                            .stages__naw
                                                .stages__number
                                                    span 02

                                        .stages__bottom
                                            .stages__text
                                                p Встретимся в офисе или на объекте для обсуждения деталей проекта, определения состава и стоимости.
                                                p <b>Сформулируем первые мысли по проекту и, если вам понравится наш подход, заключим договор.</b> 

                            .swiper-slide.counter-item
                                .stages__item.stages__item_step
                                    .stages__wrap
                                        .stages__top
                                            .stages__title
                                                span Шаг 3
                                            .stages__naw
                                                .stages__number
                                                    span 03

                                        .stages__bottom
                                            .stages__text
                                                p Встретимся в офисе или на объекте для обсуждения деталей проекта, определения состава и стоимости.
                                                p <b>Сформулируем первые мысли по проекту и, если вам понравится наш подход, заключим договор.</b> 

                            .swiper-slide.counter-item
                                .stages__item.stages__item_step
                                    .stages__wrap
                                        .stages__top
                                            .stages__title
                                                span Шаг 4
                                            .stages__naw
                                                .stages__number
                                                    span 04

                                        .stages__bottom
                                            .stages__text
                                                p Встретимся в офисе или на объекте для обсуждения деталей проекта, определения состава и стоимости.
                                                p <b>Сформулируем первые мысли по проекту и, если вам понравится наш подход, заключим договор.</b> 


    // end stages

    // begin presentation
    section.presentation.section.bg.lines(style="background-image: url('../../img/presentation_3.webp')")
        .lines__wrap
            .lines__list
                span
                span
                span
                span
                span
        .container_center
            h2.section__title(data-aos="fade-up")
                span Скачайте подборку современных<br> решений в сфере дизайна интерьера  
            .presentation__form
                .presentation__caption
                    .presentation__title
                        span Скачайте подборку в 1 клик
                    .presentation__subtitle
                        span просто введите ваш номер телефона
                .form__wrap
                    form.form.form_grid

                        .form__row.form__row_31
                            .form__label
                                span Куда прислать?
                            select.select(data-placeholder="Whatsapp")
                                option(value="")
                                option(value="whatsapp") Whatsapp
                                option(value="Viber") Viber
                                option(value="Telegram") Telegram
                                option(value="mail") Email

                        .form__row.form__row_31.form__row_hide.form__row_email_js
                            .form__label
                                span Введите email
                            input(type="email" placeholder="E-mail")

                        .form__row.form__row_31.form__row_phone_js
                            .form__label
                                span Введите номер телефона
                            input(type="tel" class="tel" required placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")

                        .form__row.form__row_38
                            .form__label.form__label_opacity.desktop
                                span Нажмите
                            button.btn.btn_didisabled_js(type="submit")
                                span Скачать презентацию в 1 клик



                        .form__row.form__row_full.form__row_mb0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span.snakeline Нажимая кнопку вы соглашаетесь  с условиями<br> <a href="#privacy" class="show_js">Политики конфиденциальности</a>



    // end presentation

    // begin details
    section#details.details.section
        .container_center.container_center_right
            h2.section__title
                span <b>Эффективно используем площадь помещения,</b><br> чтобы вам было удобно жить, работать, творить  

        .container_right
            .details__grid
                each item in [1,2,3]

                    .details__preview.bg(style="background-image: url('../../img/details_"+item+".jpg')")
                        .details__plus(style="top: 37%; left: 60%;")
                            .details__icon
                                i.icon_plus

                            .details__pop
                                .pop
                                    .pop__content
                                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        .details__plus(style="top: 17%; left: 20%;")
                            .details__icon
                                i.icon_plus

                            .details__pop
                                .pop
                                    .pop__content
                                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .details__content
            .details__title
                span Дизайнер с профессиональным образованием проектирует каждый<br> сантиметр интерьера под вас и вашу семью. 
            .details__text
                span По итогу никаких переделок  и “вечного ремонта”. Все выверено заранее в дизайн-проекте. 






    // end details

    // begin presentation
    section.presentation.presentation_left.section.bg.lines(style="background-image: url('../../img/presentation_4.webp')")
        .lines__wrap
            .lines__list
                span
                span
                span
                span
                span
        .container_center.container_center_right
            h2.section__title(data-aos="fade-up")
                span Скачайте в 1 клик<br> пример альбома<br> чертежей, смету,<br> график работ<br> и поставок
            .presentation__text
                span и узнайте, что получите на руки по<br> итогу разработки дизайн-проекта
            .presentation__form
                .presentation__caption
                    .presentation__title
                        span Скачайте<br> в 1 клик
                    .presentation__subtitle
                        span просто введите ваш номер телефона
                .form__wrap
                    form.form.form_grid

                        .form__row.form__row_31
                            .form__label
                                span Куда прислать?
                            select.select(data-placeholder="Whatsapp")
                                option(value="")
                                option(value="whatsapp") Whatsapp
                                option(value="Viber") Viber
                                option(value="Telegram") Telegram
                                option(value="mail") Email

                        .form__row.form__row_31.form__row_hide.form__row_email_js
                            .form__label
                                span Введите email
                            input(type="email" placeholder="E-mail")

                        .form__row.form__row_31.form__row_phone_js
                            .form__label
                                span Введите номер телефона
                            input(type="tel" class="tel" required placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")

                        .form__row.form__row_38
                            .form__label.form__label_opacity.desktop
                                span Нажмите
                            button.btn.btn_didisabled_js(type="submit")
                                span Скачать пример проекта



                        .form__row.form__row_full.form__row_mb0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span.snakeline Нажимая кнопку вы соглашаетесь  с условиями<br> <a href="#privacy" class="show_js">Политики конфиденциальности</a>



    // end presentation


    // begin advantage
    section#advantage.advantage.section

        .container_center.container_center_sm
            .advantage__wrap

                .advantage__caption
                    .advantage__bg.advantage__bg_mask.bg
                    h2.section__title
                        span <b>Что вы получите,</b><br> заказывая дизайн-<br>проект в Артстрой

                .advantage__list.counter-wrap
                    each item in [ {title: '5 лет на ремонт, 25 лет на построенный дом', desc: 'гарантии зафиксированы в договоре'}, {title: 'Работа в «белую»', desc: 'Принимаем оплату на расчетный счет, карту или через терминал в нашем офисе. У вас будет чек, платежные документы и вся исполнительная документация по объекту'}, {title: 'Детальная смета', desc: 'Рассчитываем стоимость максимально прозрачно. Вы видите из чего складывается стоимость работ по позицициям материалов, сколько стоит отдельная работа и какая площадь</span><a class="desktop advantage__link" href="#">Посмотреть пример реальной сметы</a>'}, {title: 'Сроки соблюдаются без напоминаний', desc: 'Нет задач без сроков. Назначенные даты, часы, минуты понимаем буквально, а не ориентировочно. Предоставляем детальный график строительства, ремонта и поставки материалов. Следим за ходом работы субподрядных организаций'}, {title: 'Качественные материалы и современные технологии', desc: 'Налажены прямые контакты с ведущими производителями строительных материалов, работаем только профессиональным дорогим инструментом'}, {title: '7 дней в неделю на связи личный менеджер', desc: 'который быстро и адекватно реагирует на ваши пожелания и вопросы'}, {title: 'Отчитываемся', desc: 'Создаём группу в What’s App / Viber / Telegram на выбор для обсуждения текущих вопросов по объекту, согласования деталей и фото и видеоотчётов'}, {title: 'Контроль качества в 4 этапа', desc: 'Кроме прораба и бригадира перед сдачей обект проверяет независимый строительный эксперт и лично технический директор. Именно поэтому у нас меньше 1% гарантийных случаев за 8 лет'}, {title: 'Работаем без предоплаты', desc: 'Ежемесячно сдаем фактически выполненную работу и закрывающий акт-наряд. Оплачиваете — только после приемки и подписания документов'}, ]

                        .advantage__item.counter-item(data-aos="fade-left")
                            .advantage__inner
                                .advantage__nav
                                    .advantage__icon.check_mark
                                        i.icon_mark
                                    .advantage__number
                                        span.counter-el
                                .advantage__content
                                    .advantage__title
                                        span!=item.title
                                    .advantage__description
                                        span!=item.desc
                            //- a.advantage__link.mobile(href="#") Посмотреть пример реальной сметы

                .advantage__load.mobile
                    a.load_more.show_advantage_js(href="#" data-load="Загрузка") Посмотреть все



    // end advantage


    // begin gifts
    section#gifts.gifts.section
        .container_center.container_center_right
            .gifts__content
                .gifts__left
                    .gifts__caption
                        h2.section__title
                            span Дарим подарки и <b>заботимся о бюджете</b>
                        .gifts__label
                            span Актуальные акции
                    .gifts__control
                        .gifts__dotted
                        .gifts__arrows.custom_arrows.desktop
                            i.icon_arrow_left
                            i.icon_arrow_right
                .gifts__right
                    .swiper__label.mobile
                        .swiper__img
                            img(src="../../img/hand.svg")
                        span Листайте влево/вправо

                    .swiper.gifts__slider.gifts-swiper-js
                        .swiper-wrapper
                            each item in [1,2,1,2]
                                .swiper-slide
                                    .gifts__item.bg(style="background-image: url('../../img/gifts_"+item+".jpg')")
                                        .gifts__top
                                            .gifts__title
                                                span Натяжной потолок<br> сделаем в подарок
                                            .gifts__desc
                                                span при заказе комплексного ремонта
                                        .gifts__main
                                            .gifts__price
                                                span 0 руб
                                            .gifts__oldprice
                                                span Стоимость <b>70 000 руб</b>
                                        .gifts__bottom
                                            a.btn(href="#")
                                                span Получить подарок




    // end gifts

    // begin price
    section#price.price.section
        .container_center.container_center_right
            .price__content
                .price__left
                    h2.section__title
                        span <b>Стоимость</b>
                .price__right
                    .price__list
                        .price__item.bg(style="background-image: url('../../img/price_1.webp')")
                            .price__title
                                span Стандартный
                            ul.list
                                li
                                    span Концепция
                                li
                                    span Планировочные решения
                                li
                                    span Рабочая документация

                            .price__link
                                a(href="#") Смотреть полный перечень работ по тарифу

                            .price__number
                                span 1 900 
                                small руб/м<sup>2</sup>

                            .price__desc
                                span Доступна рассрочка на 12 мес.<br> без первоначального взноса 
                            .price__button
                                a.btn(href="#")
                                    span Обсудить проект


                        .price__item.bg(style="background-image: url('../../img/price_2.webp')")
                            .price__title
                                span Оптимальный
                            ul.list
                                li
                                    span Концепция
                                li
                                    span Планировочные решения
                                li
                                    span Спецификация на отделочные материалы
                                li
                                    span Рабочая документация
                                li
                                    span 3D-визуализация
                                li
                                    span Проектирование и создание индивидуальной мебели и дверей на заказ

                                li
                                    span Авторский надзор

                            .price__link
                                a(href="#") Смотреть полный перечень работ по тарифу

                            .price__number
                                span 2 500 
                                small руб/м<sup>2</sup>

                            .price__desc
                                span Доступна рассрочка на 12 мес.<br> без первоначального взноса 
                            .price__button
                                a.btn(href="#")
                                    span Обсудить проект



    // end price

    // begin performance
    section#performance.performance.section
        .container_center.container_center_right
            .performance__wrap
                .performance__left
                    h2.section__title
                        span <b>Реализуем<br> дизайн-проект</b> под ключ<br> в кратчайшие сроки
                    .performance__content
                        span <b>Сокращаем сроки в 2 раза благодаря:</b>
                        ul.list
                            li
                                span Полному контролю и слаженной командной работе
                            li
                                span Своевременному поступлению материалов на объект —<br> заказываем все как только подписан договор и заранее<br> планируем работы по графику поставок
                            li
                                span Отсутствию дисбаланса в действиях и принятии решений, нет<br> глухого телефона и состыковок между несколькими подрядчиками





                .performance__right
                    .performance__video.bg(style="background-image: url('../../img/performance_bg.jpg')")
                        .performance__inner
                            .performance__info
                                span Руководитель АРТСТРОЙ о подходе
                                small Длительность: 2:32 мин

                            .play.youtubeModal-js#rsDoGqnPE4c
                                i.icon_play
                        .performance__label
                            span <i>Стандартные<br> сроки на ремонт 3-<br>х комнатной<br> квартиры</i> — 8-12<br> мес., по нашему<br> дизайн-проекту<br> мы сделаем все за<br> 6 мес.



    // end performance

    // begin founder
    section#founder.founder.founder_nomt.section.bg
        .runningLine
            .runningLine__content
                .runningLine__list
                    each item in ['прозрачность', 'качество', 'сроки', 'Репутация', 'прозрачность', 'качество', 'сроки', 'Репутация']
                        .runningLine__item
                            span=item
        .container_center.container_center_sm
            .founder__content
                .founder__left
                    .founder__caption
                        .founder__title(data-aos="fade-up")
                            span Меня зовут Александр Матвеев. В 2014 году я основал строительную компанию АРТСТРОЙ.


                        .founder__description
                            span Основной принцип, который заложен в уставе нашей компании, это честность по отношению к клиенту и самим себе, профессионализм в работе, высокий сервис и постоянное совершенствование бизнес процессов, технологий работы, систем отчёта перед клиентом с целью выполнить задачу на 100%.
                    .founder__text
                        span Строим дома и создаем интерьеры, которые будут актуальны даже через несколько десятков лет. Делаем жизнь уютной и комфортной за доступную стоимость.
                    .founder__text.founder__text_bold
                        span Мы меняем строительную индустрию и мир вокруг нас в лучшую сторону.

                    .founder__button
                        a.btn(href="#")
                            span Обсудить задачу лично
                            span с Александром сейчас
                        a.btn.btn_dark.show_js(href="#application")
                            span Подробнее о компании
                .founder__right
                    .founder__person
                        .person
                            .person__name(data-aos="fade-left" data-aos-delay="300")
                                span Алексей Матвеев
                            .person__description(data-aos="fade-left" data-aos-delay="600")
                                span Основатель и генеральный директор ООО «АРТСТРОЙ»

                    .founder__play
                        .play__info
                            .play__label
                                span Посмотрите видео-обращение основателя компании “АРТСТРОЙ”
                            .play__time
                                span Длительность: 2:32 мин
                        .play.pulse.youtubeModal-js#rsDoGqnPE4c
                            i.icon_play



    // end founder

    // begin certificate
    section.certificate.section
        .container_center.container_center_sm

            .figures
                .figures__list

                    .figures__item
                        .figures__top
                            span(class="count_numbers_js") 8
                        .figures__bottom
                            span лет успешно<br> работаем на рынке

                    .figures__item
                        .figures__top
                            <span><small>в</small> </span>
                            <span class="count_numbers_js">19</span>
                        .figures__bottom
                            span городах России<br> наши клиенты
                    .figures__item
                        .figures__top
                            span(class="count_numbers_big_js") 45000 
                            <span><small>м</small></span>
                            <span><sup>2</sup></span>
                        .figures__bottom
                            span преобразили за годы работы
                    .figures__item
                        span
                        .figures__link.snakeline
                            a(href="../../img/pdf.pdf" target="_blank") Реквизиты


    // end certificate
