//- design
extends ../../layout/layout.pug
block variable
    -var path = '../../';
    //- -var page = true;

block content
    // begin breadcrumbs
    .breadcrumbs.breadcrumbs_reverse.section
        .container_center.container_center_right
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная
                span.kb_sep
                span
                    a(href="#")
                        span Услуги
                span.kb_sep

                span.kb_title Дизайн-проектирование
    // end breadcrumbs

    // begin head
    section#head.head.head_design.section(style="background-image: url('../../img/design_bg.webp')").bg.lines
        .lines__wrap
            .lines__list
                span
                span
                span
                span
                span

        .container_center.container_center_right

            .head__content
                .head__left
                    .head__subtitle.mb20
                        span По всей России 

                    h1.head__title.mb22
                        span <b>Создаем и реализуем уникальные дизайн-проекты</b> домов, квартир и коммерческой недвижимости
                    .head__subtitle.mb56
                        span Проекты АртСтрой — не просто красивые картинки. Разрабатываем чертежи и планы для 100% реализации 
                    .head__action.mb20
                        a.btn.show_js(href="#application")
                            span Рассчитать стоимость
                            span дизайн-проекта
                        a.btn.btn_dark.btn_whatsapp(href="#")
                            span Напишите нам в WhatsApp
                            small время ответа 10 минут
                    .head__text
                        span Пройдите короткий тест, чтобы мы сориентировали по стоимости и сформировали предложение для вас.
                .head__right
                    .head__list
                        each item in [ 'Создали более <b>1 000 проектов</b>', '<b>16 профессиональных дизайнеров</b> с прекрасным чувством стиля', 'Комплектуем <b>реальными позициями</b>', 'Действует <b>рассрочка<br> платежа</b> на 12 месяцев' ]
                            .head__item
                                .head__mark.check_mark
                                    i.icon_mark
                                span!=item 

    // end head

    // begin stages
    section#stages.stages.section
        .container_center.container_center_right
            .stages__content

                .stages__left
                    h2.section__title
                        span <b>7 основных шагов</b> от идеи к оформленному дизайн-проекту 

                    .stages__control
                        .stages__dotted
                        .stages__arrows.custom_arrows.desktop
                            i.icon_arrow_left
                            i.icon_arrow_right

                .stages__right
                    .swiper__label.mobile
                        .swiper__img
                            img(src="../../img/hand.svg")
                        span Листайте влево/вправо

                    .swiper.stages__slider.stages-swiper-js
                        .swiper-wrapper

                            .swiper-slide
                                .stages__item.stages__item_step
                                    .stages__wrap
                                        .stages__top
                                            .stages__title
                                                span Шаг 1
                                            .stages__naw
                                                .stages__number
                                                    span 01


                                        .stages__text
                                            p Познакомимся, ответим на вопросы и согласуем встречу на объекте или у нас в офисе
                                        .stages__phone
                                            span Звоните:
                                            a(href="tel:+7 (391) 2-054-081") +7 (391) 2-054-081
                                        .stages__button
                                            a.btn.btn_dark.btn_whatsapp(href="#")
                                                span Напишите нам в WhatsApp
                                                small время ответа 10 минут




                            .swiper-slide.counter-item
                                .stages__item.stages__item_step
                                    .stages__wrap
                                        .stages__top
                                            .stages__title
                                                span Шаг 2
                                            .stages__naw
                                                .stages__number
                                                    span 02

                                        .stages__bottom
                                            .stages__text
                                                p Встретимся в офисе или на объекте для обсуждения деталей проекта, определения состава и стоимости.
                                                p <b>Сформулируем первые мысли по проекту и, если вам понравится наш подход, заключим договор.</b> 

                            .swiper-slide.counter-item
                                .stages__item.stages__item_step
                                    .stages__wrap
                                        .stages__top
                                            .stages__title
                                                span Шаг 3
                                            .stages__naw
                                                .stages__number
                                                    span 03

                                        .stages__bottom
                                            .stages__text
                                                p Встретимся в офисе или на объекте для обсуждения деталей проекта, определения состава и стоимости.
                                                p <b>Сформулируем первые мысли по проекту и, если вам понравится наш подход, заключим договор.</b> 

                            .swiper-slide.counter-item
                                .stages__item.stages__item_step
                                    .stages__wrap
                                        .stages__top
                                            .stages__title
                                                span Шаг 4
                                            .stages__naw
                                                .stages__number
                                                    span 04

                                        .stages__bottom
                                            .stages__text
                                                p Встретимся в офисе или на объекте для обсуждения деталей проекта, определения состава и стоимости.
                                                p <b>Сформулируем первые мысли по проекту и, если вам понравится наш подход, заключим договор.</b> 


    // end stages
