{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1668158114796.1125,
          "ctimeMs": 1668158114796.1125,
          "date": "2022-11-11T09:15:15.171Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1650972422367.755,
          "ctimeMs": 1664977638710.1655,
          "date": "2022-10-18T07:31:38.332Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1668169441692.48,
          "ctimeMs": 1668169441692.48,
          "date": "2022-11-11T12:24:02.111Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1667224838000,
          "ctimeMs": 1667224852947.5862,
          "date": "2022-10-31T16:28:03.961Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1667224838000,
          "ctimeMs": 1667224852947.6133,
          "date": "2022-10-31T16:28:04.136Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1667224838000,
          "ctimeMs": 1667224852947.5583,
          "date": "2022-10-31T16:28:04.314Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1667224838000,
          "ctimeMs": 1667224852947.528,
          "date": "2022-10-31T16:28:04.447Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1667224838000,
          "ctimeMs": 1667224852947.3403,
          "date": "2022-10-31T16:28:04.598Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1667224838000,
          "ctimeMs": 1667224852947.4116,
          "date": "2022-10-31T16:28:04.813Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.eot",
          "mtimeMs": 1667224838000,
          "ctimeMs": 1667224852947.7874,
          "date": "2022-10-31T16:28:05.103Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.svg",
          "mtimeMs": 1667224838000,
          "ctimeMs": 1667224852947.818,
          "date": "2022-10-31T14:01:03.822Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.ttf",
          "mtimeMs": 1667224838000,
          "ctimeMs": 1667224852947.709,
          "date": "2022-10-31T16:28:05.331Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.woff",
          "mtimeMs": 1667224838000,
          "ctimeMs": 1667224852947.74,
          "date": "2022-10-31T16:28:05.497Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1665557040571.3625,
          "ctimeMs": 1665562493559.0176,
          "date": "2022-10-18T07:31:46.960Z"
        },
        {
          "file": "js/form.js",
          "mtimeMs": 1666693987406.3704,
          "ctimeMs": 1666693987406.3704,
          "date": "2022-10-25T10:33:07.764Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1667656715148.8706,
          "ctimeMs": 1667656715148.8706,
          "date": "2022-11-05T13:58:35.557Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1664977638823.5417,
          "date": "2022-10-18T07:31:47.987Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1664977638821.707,
          "date": "2022-10-18T07:31:48.484Z"
        },
        {
          "file": "js/select2.min.js",
          "mtimeMs": 1651056282665.825,
          "ctimeMs": 1664977638818.8835,
          "date": "2022-10-18T07:31:48.849Z"
        },
        {
          "file": "js/jquery.maskedinput.min.js",
          "mtimeMs": 1664980725663.3125,
          "ctimeMs": 1664980725663.5657,
          "date": "2022-10-18T07:31:48.218Z"
        },
        {
          "file": "js/jquery.twentytwenty.js",
          "mtimeMs": 1664980734084.75,
          "ctimeMs": 1664980734084.9255,
          "date": "2022-10-18T07:31:48.352Z"
        },
        {
          "file": "css/fancybox.min.css",
          "mtimeMs": 1664980926791.4116,
          "ctimeMs": 1664980926791.6902,
          "date": "2022-10-18T07:31:38.664Z"
        },
        {
          "file": "css/swiper-bundle.min.css",
          "mtimeMs": 1664980959304.6458,
          "ctimeMs": 1664980959305.023,
          "date": "2022-10-18T07:31:39.012Z"
        },
        {
          "file": "css/twentytwenty.css",
          "mtimeMs": 1664980964102.3276,
          "ctimeMs": 1664980964102.726,
          "date": "2022-10-18T07:31:39.177Z"
        },
        {
          "file": "pages/home/index.html",
          "mtimeMs": 1667731727517.6238,
          "ctimeMs": 1667731727517.6238,
          "date": "2022-11-06T10:48:47.908Z"
        },
        {
          "file": "css/aos.css",
          "mtimeMs": 1664980913804.8193,
          "ctimeMs": 1664980913805.109,
          "date": "2022-10-18T07:31:38.495Z"
        },
        {
          "file": "js/aos.js",
          "mtimeMs": 1664980693213.8088,
          "ctimeMs": 1664980693214.573,
          "date": "2022-10-18T07:31:47.217Z"
        },
        {
          "file": "js/fancybox.min.js",
          "mtimeMs": 1664980699028.5679,
          "ctimeMs": 1664980699028.8384,
          "date": "2022-10-18T07:31:47.386Z"
        },
        {
          "file": "js/jquery.event.move.js",
          "mtimeMs": 1664980717361.7305,
          "ctimeMs": 1664980717362.03,
          "date": "2022-10-18T07:31:47.795Z"
        },
        {
          "file": "js/swiper-bundle.min.js",
          "mtimeMs": 1664980873303.9216,
          "ctimeMs": 1664980873304.1785,
          "date": "2022-10-18T07:31:49.152Z"
        },
        {
          "file": "js/jquery.marquee.min.js",
          "mtimeMs": 1665566892344.0754,
          "ctimeMs": 1665566892344.0754,
          "date": "2022-10-18T07:31:48.110Z"
        },
        {
          "file": "js/quiz.js",
          "mtimeMs": 1667460776170.98,
          "ctimeMs": 1667460776170.98,
          "date": "2022-11-03T07:32:57.827Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Black.eot",
          "mtimeMs": 1665561892000,
          "ctimeMs": 1665562020951.1067,
          "date": "2022-10-18T07:31:39.376Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Black.ttf",
          "mtimeMs": 1665561892000,
          "ctimeMs": 1665562020950.9202,
          "date": "2022-10-18T07:31:39.615Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Black.woff",
          "mtimeMs": 1665561892000,
          "ctimeMs": 1665562020951.7322,
          "date": "2022-10-18T07:31:39.815Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Black.woff2",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.3135,
          "date": "2022-10-18T07:31:39.997Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Bold.eot",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020950.8877,
          "date": "2022-10-18T07:31:40.192Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Bold.ttf",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.032,
          "date": "2022-10-18T07:31:40.397Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Bold.woff",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.0051,
          "date": "2022-10-18T07:31:40.616Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Bold.woff2",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020950.8489,
          "date": "2022-10-18T07:31:40.798Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Light.eot",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.3923,
          "date": "2022-10-18T07:31:41.030Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Light.ttf",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.676,
          "date": "2022-10-18T07:31:41.265Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Light.woff",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020950.9778,
          "date": "2022-10-18T07:31:41.460Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Light.woff2",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.5903,
          "date": "2022-10-18T07:31:41.663Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Medium.eot",
          "mtimeMs": 1665561892000,
          "ctimeMs": 1665562020950.9495,
          "date": "2022-10-18T07:31:41.882Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Medium.ttf",
          "mtimeMs": 1665561892000,
          "ctimeMs": 1665562020951.2214,
          "date": "2022-10-18T07:31:42.076Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Medium.woff",
          "mtimeMs": 1665561892000,
          "ctimeMs": 1665562020951.0588,
          "date": "2022-10-18T07:31:42.269Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Medium.woff2",
          "mtimeMs": 1665561892000,
          "ctimeMs": 1665562020951.425,
          "date": "2022-10-18T07:31:42.437Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Regular.eot",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.4868,
          "date": "2022-10-18T07:31:42.660Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Regular.ttf",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.7043,
          "date": "2022-10-18T07:31:42.862Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Regular.woff",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.5444,
          "date": "2022-10-18T07:31:43.051Z"
        },
        {
          "file": "fonts/DINPro/DINPro-Regular.woff2",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.4563,
          "date": "2022-10-18T07:31:43.246Z"
        },
        {
          "file": "fonts/DINPro/demo.html",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.6392,
          "date": "2022-10-18T07:31:43.401Z"
        },
        {
          "file": "fonts/DINPro/stylesheet.css",
          "mtimeMs": 1665561894000,
          "ctimeMs": 1665562020951.358,
          "date": "2022-10-18T07:31:43.545Z"
        },
        {
          "file": "img/left_right.svg",
          "mtimeMs": 1665557625518.1323,
          "ctimeMs": 1665562515255.1265,
          "date": "2022-10-18T07:31:46.832Z"
        },
        {
          "file": "img/logo_sm.svg",
          "mtimeMs": 1665557738344.7441,
          "ctimeMs": 1665562493560.2288,
          "date": "2022-10-18T07:31:47.081Z"
        },
        {
          "file": "js/slider.js",
          "mtimeMs": 1668169401466.737,
          "ctimeMs": 1668169401466.737,
          "date": "2022-11-11T12:23:21.803Z"
        },
        {
          "file": "img/firstscreen_bg.webp",
          "mtimeMs": 1665997530970.7034,
          "ctimeMs": 1665997539164.8323,
          "date": "2022-10-18T07:31:45.878Z"
        },
        {
          "file": "img/firstscreen_bg_m.jpg",
          "mtimeMs": 1666001527931.4226,
          "ctimeMs": 1666002909689.6252,
          "date": "2022-10-18T07:31:46.027Z"
        },
        {
          "file": "img/firstscreen_bg_m.webp",
          "mtimeMs": 1666001516400.589,
          "ctimeMs": 1666001574446.802,
          "date": "2022-10-18T07:31:46.160Z"
        },
        {
          "file": "img/founder_bg.webp",
          "mtimeMs": 1666004907875.476,
          "ctimeMs": 1666004929339.0698,
          "date": "2022-10-18T07:31:46.328Z"
        },
        {
          "file": "img/founder_bg_m.webp",
          "mtimeMs": 1666004911576.9949,
          "ctimeMs": 1666004929341.0386,
          "date": "2022-10-18T07:31:46.471Z"
        },
        {
          "file": "img/founder_l.webp",
          "mtimeMs": 1666005183331.151,
          "ctimeMs": 1666012033847.1936,
          "date": "2022-10-18T07:31:46.595Z"
        },
        {
          "file": "img/founder_l_m.webp",
          "mtimeMs": 1666005187793.7583,
          "ctimeMs": 1666005212115.735,
          "date": "2022-10-18T07:31:46.720Z"
        },
        {
          "file": "img/certificate_1.jpg",
          "mtimeMs": 1666080632774.7815,
          "ctimeMs": 1666080846103.6934,
          "date": "2022-10-18T11:59:17.670Z"
        },
        {
          "file": "img/hand.svg",
          "mtimeMs": 1666080700120.914,
          "ctimeMs": 1666080846099.269,
          "date": "2022-10-18T11:59:17.771Z"
        },
        {
          "file": "img/task_1.jpg",
          "mtimeMs": 1666525637529.5918,
          "ctimeMs": 1666529243032.8762,
          "date": "2022-10-23T17:05:18.542Z"
        },
        {
          "file": "img/task_2.jpg",
          "mtimeMs": 1666525699511.8745,
          "ctimeMs": 1666529243029.594,
          "date": "2022-10-23T17:05:18.737Z"
        },
        {
          "file": "img/task_3.jpg",
          "mtimeMs": 1666525712040.334,
          "ctimeMs": 1666529243039.335,
          "date": "2022-10-23T17:05:18.998Z"
        },
        {
          "file": "img/task_4.jpg",
          "mtimeMs": 1666525726576.7356,
          "ctimeMs": 1666529243037.4958,
          "date": "2022-10-23T17:05:19.400Z"
        },
        {
          "file": "img/task_5.webp",
          "mtimeMs": 1666584229016.462,
          "ctimeMs": 1666584241678.699,
          "date": "2022-10-24T04:05:11.091Z"
        },
        {
          "file": "img/presentation_bg.webp",
          "mtimeMs": 1666585131454.1611,
          "ctimeMs": 1666585205111.3872,
          "date": "2022-10-24T07:43:41.307Z"
        },
        {
          "file": "img/presentation_bg_m.jpg",
          "mtimeMs": 1666584912573.6907,
          "ctimeMs": 1666585440161.7883,
          "date": "2022-10-24T07:43:41.483Z"
        },
        {
          "file": "img/presentation_bg_m.webp",
          "mtimeMs": 1666585278410.3003,
          "ctimeMs": 1666585440159.751,
          "date": "2022-10-24T07:43:41.608Z"
        },
        {
          "file": "img/presentation_mask.webp",
          "mtimeMs": 1666593857080.5784,
          "ctimeMs": 1666593866875.6792,
          "date": "2022-10-24T07:43:41.740Z"
        },
        {
          "file": "img/pdf.pdf",
          "mtimeMs": 1659944719633.3503,
          "ctimeMs": 1666615698735.9158,
          "date": "2022-10-25T08:12:33.533Z"
        },
        {
          "file": "img/project_1.webp",
          "mtimeMs": 1666686144000,
          "ctimeMs": 1666697035106.3445,
          "date": "2022-10-25T17:23:53.033Z"
        },
        {
          "file": "img/project_1_sm.webp",
          "mtimeMs": 1666686144000,
          "ctimeMs": 1666697035104.3555,
          "date": "2022-10-25T17:23:53.139Z"
        },
        {
          "file": "img/project_2._sm.webp",
          "mtimeMs": 1666686144000,
          "ctimeMs": 1666697742614.9226,
          "date": "2022-10-25T17:23:53.258Z"
        },
        {
          "file": "img/project_2.webp",
          "mtimeMs": 1666686144000,
          "ctimeMs": 1666697750743.2947,
          "date": "2022-10-25T17:23:53.423Z"
        },
        {
          "file": "img/project_ba_m.webp",
          "mtimeMs": 1666701295736.0242,
          "ctimeMs": 1666701336997.4348,
          "date": "2022-10-25T17:23:53.521Z"
        },
        {
          "file": "img/honest_bg.webp",
          "mtimeMs": 1666769373510.0117,
          "ctimeMs": 1666771771620.8718,
          "date": "2022-10-27T10:35:18.010Z"
        },
        {
          "file": "img/honest_bg_m.png",
          "mtimeMs": 1666769309788.9702,
          "ctimeMs": 1666775878082.9746,
          "date": "2022-10-27T10:35:18.277Z"
        },
        {
          "file": "img/honest_bg_m.webp",
          "mtimeMs": 1666775660221.3684,
          "ctimeMs": 1666775714623.0513,
          "date": "2022-10-27T10:35:18.420Z"
        },
        {
          "file": "img/location_bg.png",
          "mtimeMs": 1666867032246.7183,
          "ctimeMs": 1666876165163.916,
          "date": "2022-10-27T14:35:47.601Z"
        },
        {
          "file": "img/location_bg.webp",
          "mtimeMs": 1666867306746.6714,
          "ctimeMs": 1666867829503.9001,
          "date": "2022-10-27T14:35:47.836Z"
        },
        {
          "file": "img/logoL.svg",
          "mtimeMs": 1666867748986.5076,
          "ctimeMs": 1666867820543.8499,
          "date": "2022-10-27T14:35:47.958Z"
        },
        {
          "file": "img/advantage_bg.webp",
          "mtimeMs": 1666886629711.4324,
          "ctimeMs": 1666886652662.1013,
          "date": "2022-10-28T07:59:37.642Z"
        },
        {
          "file": "img/advantage_bg_m.webp",
          "mtimeMs": 1666886633695.781,
          "ctimeMs": 1666886652659.5737,
          "date": "2022-10-28T07:59:37.784Z"
        },
        {
          "file": "img/open.svg",
          "mtimeMs": 1666939821054.4548,
          "ctimeMs": 1666939839869.1426,
          "date": "2022-10-28T07:59:37.901Z"
        },
        {
          "file": "img/reviews_1.jpg",
          "mtimeMs": 1666935512100.2986,
          "ctimeMs": 1666936622027.0671,
          "date": "2022-10-28T07:59:38.103Z"
        },
        {
          "file": "img/reviews_2.jpg",
          "mtimeMs": 1666935548761.611,
          "ctimeMs": 1666936622025.4485,
          "date": "2022-10-28T07:59:38.361Z"
        },
        {
          "file": "img/reviews_3.jpg",
          "mtimeMs": 1666935570602.408,
          "ctimeMs": 1666936622023.6226,
          "date": "2022-10-28T07:59:38.566Z"
        },
        {
          "file": "img/logo_1.png",
          "mtimeMs": 1658420796381.7803,
          "ctimeMs": 1666944542632.3306,
          "date": "2022-10-28T10:39:51.150Z"
        },
        {
          "file": "img/logo_2.png",
          "mtimeMs": 1658420851948.8176,
          "ctimeMs": 1666944542634.673,
          "date": "2022-10-28T10:39:51.287Z"
        },
        {
          "file": "img/logo_3.png",
          "mtimeMs": 1658420873548.0798,
          "ctimeMs": 1666944542636.6755,
          "date": "2022-10-28T10:39:51.429Z"
        },
        {
          "file": "img/logo_4.png",
          "mtimeMs": 1658420902971.5076,
          "ctimeMs": 1666944542638.6965,
          "date": "2022-10-28T10:39:51.555Z"
        },
        {
          "file": "img/blog_1.jpg",
          "mtimeMs": 1666960507973.3955,
          "ctimeMs": 1666960549606.044,
          "date": "2022-10-28T14:06:27.875Z"
        },
        {
          "file": "img/blog_2.jpg",
          "mtimeMs": 1666960522669.1597,
          "ctimeMs": 1666960549601.2417,
          "date": "2022-10-28T14:06:28.069Z"
        },
        {
          "file": "img/video_1.jpg",
          "mtimeMs": 1666960330019.5972,
          "ctimeMs": 1666960549608.1577,
          "date": "2022-10-28T14:06:28.319Z"
        },
        {
          "file": "img/consultation_bg.jpg",
          "mtimeMs": 1667064449958.1711,
          "ctimeMs": 1667064479274.0405,
          "date": "2022-10-30T18:05:55.917Z"
        },
        {
          "file": "img/consultation_bg_m.webp",
          "mtimeMs": 1667049690000,
          "ctimeMs": 1667060627829.9668,
          "date": "2022-10-30T18:05:56.045Z"
        },
        {
          "file": "img/manager.webp",
          "mtimeMs": 1667049690000,
          "ctimeMs": 1667060619971.3108,
          "date": "2022-10-30T18:05:56.219Z"
        },
        {
          "file": "layout/header_bg.html",
          "mtimeMs": 1667207202421.2368,
          "ctimeMs": 1667207202421.2368,
          "date": "2022-10-31T09:06:42.720Z"
        },
        {
          "file": "quiz/index.html",
          "mtimeMs": 1667382592047.5237,
          "ctimeMs": 1667382592047.5237,
          "date": "2022-11-03T06:46:30.774Z"
        },
        {
          "file": "img/quiz/hand.svg",
          "mtimeMs": 1658487276866.393,
          "ctimeMs": 1667207964171.779,
          "date": "2022-10-31T16:28:05.633Z"
        },
        {
          "file": "img/quiz/hint.png",
          "mtimeMs": 1647612122000,
          "ctimeMs": 1667207964190.2422,
          "date": "2022-10-31T16:28:05.771Z"
        },
        {
          "file": "img/quiz/line.png",
          "mtimeMs": 1647551632000,
          "ctimeMs": 1667207964192.8694,
          "date": "2022-10-31T16:28:05.905Z"
        },
        {
          "file": "img/quiz/quiz-result_bg.jpg",
          "mtimeMs": 1667209409703.974,
          "ctimeMs": 1667209589402.315,
          "date": "2022-10-31T16:28:06.308Z"
        },
        {
          "file": "img/quiz/quiz_bg.png",
          "mtimeMs": 1667209528569.8074,
          "ctimeMs": 1667212840630.4507,
          "date": "2022-10-31T16:28:06.637Z"
        },
        {
          "file": "img/quiz/quiz_hand.png",
          "mtimeMs": 1667208791194.9443,
          "ctimeMs": 1667337157361.721,
          "date": "2022-11-01T21:29:26.301Z"
        },
        {
          "file": "img/quiz/quiz_person.png",
          "mtimeMs": 1667209472462.5356,
          "ctimeMs": 1667209571526.6204,
          "date": "2022-10-31T16:28:07.197Z"
        },
        {
          "file": "img/quiz/question/photo_1.jpg",
          "mtimeMs": 1667208324420.9368,
          "ctimeMs": 1667332450187.0112,
          "date": "2022-11-01T21:29:26.525Z"
        },
        {
          "file": "img/quiz/question/photo_2.jpg",
          "mtimeMs": 1667208334581.7688,
          "ctimeMs": 1667209558081.19,
          "date": "2022-10-31T16:28:07.662Z"
        },
        {
          "file": "img/quiz/question/photo_3.jpg",
          "mtimeMs": 1667208347859.5457,
          "ctimeMs": 1667209560843.766,
          "date": "2022-10-31T16:28:07.885Z"
        },
        {
          "file": "img/quiz/question/photo_4.jpg",
          "mtimeMs": 1667208358176.4436,
          "ctimeMs": 1667209562548.0525,
          "date": "2022-10-31T16:28:08.103Z"
        },
        {
          "file": "css/jquery-ui.css",
          "mtimeMs": 1648125542912.3167,
          "ctimeMs": 1667300586104.2651,
          "date": "2022-11-01T21:29:26.034Z"
        },
        {
          "file": "js/jquery-ui-touch-punch.js",
          "mtimeMs": 1650617921921.3682,
          "ctimeMs": 1667300607013.264,
          "date": "2022-11-01T21:29:26.746Z"
        },
        {
          "file": "js/jquery-ui.min.js",
          "mtimeMs": 1648125439991.0283,
          "ctimeMs": 1667300603311.8955,
          "date": "2022-11-01T21:29:26.978Z"
        },
        {
          "file": "quiz.html",
          "mtimeMs": 1667379116814.2117,
          "ctimeMs": 1667379116814.2117,
          "date": "2022-11-03T06:46:29.884Z"
        },
        {
          "file": "img/calculate_bg.webp",
          "mtimeMs": 1667408844986.8977,
          "ctimeMs": 1667408879668.1685,
          "date": "2022-11-03T06:46:30.016Z"
        },
        {
          "file": "img/modal_bg.svg",
          "mtimeMs": 1667407804374.601,
          "ctimeMs": 1667407906456.024,
          "date": "2022-11-03T06:46:30.127Z"
        },
        {
          "file": "img/modal_bg_1.webp",
          "mtimeMs": 1667411671340.457,
          "ctimeMs": 1667411890722.0513,
          "date": "2022-11-03T06:46:30.270Z"
        },
        {
          "file": "img/modal_bg_2.webp",
          "mtimeMs": 1667411786918.2393,
          "ctimeMs": 1667411890724.6257,
          "date": "2022-11-03T06:46:30.444Z"
        },
        {
          "file": "img/clip_bg.png",
          "mtimeMs": 1667475808640.343,
          "ctimeMs": 1667475903626.0674,
          "date": "2022-11-03T12:25:25.766Z"
        },
        {
          "file": "pages/services/index.html",
          "mtimeMs": 1668157826644.5051,
          "ctimeMs": 1668157826644.5051,
          "date": "2022-11-11T09:10:29.854Z"
        },
        {
          "file": "pages/portfolio/index.html",
          "mtimeMs": 1667737342741.1829,
          "ctimeMs": 1667737342741.1829,
          "date": "2022-11-06T12:22:23.127Z"
        },
        {
          "file": "img/notepad_bg.svg",
          "mtimeMs": 1667562245102.0352,
          "ctimeMs": 1667562282932.6897,
          "date": "2022-11-04T13:38:43.284Z"
        },
        {
          "file": "img/notepad_bg.webp",
          "mtimeMs": 1667560880054.2185,
          "ctimeMs": 1667561137645.248,
          "date": "2022-11-04T13:38:43.730Z"
        },
        {
          "file": "img/report_bg.webp",
          "mtimeMs": 1667560883461.9768,
          "ctimeMs": 1667561137642.9604,
          "date": "2022-11-04T13:38:44.048Z"
        },
        {
          "file": "pages/about/index.html",
          "mtimeMs": 1667907472672.1707,
          "ctimeMs": 1667907472672.1707,
          "date": "2022-11-08T11:37:53.033Z"
        },
        {
          "file": "img/approach_bg.webp",
          "mtimeMs": 1667639918393.7083,
          "ctimeMs": 1667641057170.2012,
          "date": "2022-11-05T17:04:35.684Z"
        },
        {
          "file": "img/director.webp",
          "mtimeMs": 1667648362000,
          "ctimeMs": 1667659184707.9004,
          "date": "2022-11-05T17:04:35.859Z"
        },
        {
          "file": "img/employee.webp",
          "mtimeMs": 1667648362000,
          "ctimeMs": 1667659184706.0686,
          "date": "2022-11-05T17:04:35.978Z"
        },
        {
          "file": "img/team_bg.webp",
          "mtimeMs": 1667662220646.4224,
          "ctimeMs": 1667662234375.9656,
          "date": "2022-11-05T17:04:36.157Z"
        },
        {
          "file": "pages/blog/index.html",
          "mtimeMs": 1667826326810.4646,
          "ctimeMs": 1667826326810.4646,
          "date": "2022-11-07T13:05:27.246Z"
        },
        {
          "file": "pages/blogSingle/index.html",
          "mtimeMs": 1667826388680.7625,
          "ctimeMs": 1667826388680.7625,
          "date": "2022-11-07T13:06:29.142Z"
        },
        {
          "file": "img/blog.jpg",
          "mtimeMs": 1667741480548.6245,
          "ctimeMs": 1667741514584.702,
          "date": "2022-11-06T14:55:01.825Z"
        },
        {
          "file": "img/blog_full.jpg",
          "mtimeMs": 1667741471185.714,
          "ctimeMs": 1667741514587.3567,
          "date": "2022-11-06T14:55:02.052Z"
        },
        {
          "file": "img/sidebar_calc.jpg",
          "mtimeMs": 1667743606389.575,
          "ctimeMs": 1667743841894.6523,
          "date": "2022-11-06T14:55:02.245Z"
        },
        {
          "file": "img/sidebar_download.jpg",
          "mtimeMs": 1667743385995.0093,
          "ctimeMs": 1667743841893.7603,
          "date": "2022-11-06T14:55:02.461Z"
        },
        {
          "file": "pages/project/index.html",
          "mtimeMs": 1668157646851.3376,
          "ctimeMs": 1668157646851.3376,
          "date": "2022-11-11T09:07:28.778Z"
        },
        {
          "file": "pages/project2/index.html",
          "mtimeMs": 1668157671380.4905,
          "ctimeMs": 1668157671380.4905,
          "date": "2022-11-11T09:07:52.779Z"
        },
        {
          "file": "pages/vacancy/index.html",
          "mtimeMs": 1668169275288.8186,
          "ctimeMs": 1668169275288.8186,
          "date": "2022-11-11T12:21:15.701Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
