{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1664982394202.0063,
          "ctimeMs": 1664982394202.0063,
          "date": "2022-10-05T15:06:34.550Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1650972422367.755,
          "ctimeMs": 1664977638710.1655,
          "date": "2022-10-05T14:00:53.524Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1651058349771.736,
          "ctimeMs": 1664977638915.8665,
          "date": "2022-10-05T14:00:53.978Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638885.14,
          "date": "2022-10-05T14:00:54.332Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638889.5002,
          "date": "2022-10-05T14:00:54.656Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638887.5447,
          "date": "2022-10-05T14:00:54.927Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638883.2327,
          "date": "2022-10-05T14:00:55.203Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638879.9175,
          "date": "2022-10-05T14:00:55.494Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638874.4404,
          "date": "2022-10-05T14:00:55.793Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638876.8809,
          "date": "2022-10-05T14:00:56.113Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638873.6248,
          "date": "2022-10-05T14:00:56.377Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.eot",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1664977638881.1528,
          "date": "2022-10-05T14:00:56.689Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.ttf",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1664977638872.8162,
          "date": "2022-10-05T14:00:57.023Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.woff",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1664977638886.361,
          "date": "2022-10-05T14:00:57.333Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.woff2",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1664977638877.7434,
          "date": "2022-10-05T14:00:57.608Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638882.2656,
          "date": "2022-10-05T14:00:57.909Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638878.9102,
          "date": "2022-10-05T14:00:58.230Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638876.0813,
          "date": "2022-10-05T14:00:58.490Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638875.2815,
          "date": "2022-10-05T14:00:58.747Z"
        },
        {
          "file": "fonts/Roboto/demo.html",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638888.5857,
          "date": "2022-10-05T14:00:58.975Z"
        },
        {
          "file": "fonts/Roboto/stylesheet.css",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1664977638884.1807,
          "date": "2022-10-05T14:00:59.173Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.eot",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1664977638857.3884,
          "date": "2022-10-05T14:00:59.453Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.ttf",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1664977638861.5393,
          "date": "2022-10-05T14:00:59.746Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.woff",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1664977638856.4607,
          "date": "2022-10-05T14:01:00.000Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638860.7139,
          "date": "2022-10-05T14:01:00.229Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638869.017,
          "date": "2022-10-05T14:01:00.491Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638864.3718,
          "date": "2022-10-05T14:01:00.782Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638858.232,
          "date": "2022-10-05T14:01:01.063Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638866.0432,
          "date": "2022-10-05T14:01:01.319Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638859.048,
          "date": "2022-10-05T14:01:01.578Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638855.6157,
          "date": "2022-10-05T14:01:01.885Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638859.8386,
          "date": "2022-10-05T14:01:02.145Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638866.8914,
          "date": "2022-10-05T14:01:02.389Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638865.2354,
          "date": "2022-10-05T14:01:02.668Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638870.121,
          "date": "2022-10-05T14:01:02.937Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638871.123,
          "date": "2022-10-05T14:01:03.179Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638863.492,
          "date": "2022-10-05T14:01:03.422Z"
        },
        {
          "file": "fonts/Roboto_Slab/demo.html",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638867.906,
          "date": "2022-10-05T14:01:03.638Z"
        },
        {
          "file": "fonts/Roboto_Slab/stylesheet.css",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1664977638862.3699,
          "date": "2022-10-05T14:01:03.825Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1664977638896.9512,
          "date": "2022-10-05T14:01:04.007Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1664977638897.855,
          "date": "2022-10-05T14:01:04.207Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1664977638895.9717,
          "date": "2022-10-05T14:01:04.404Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1664977638895.0369,
          "date": "2022-10-05T14:01:04.576Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1664977638892.2207,
          "date": "2022-10-05T14:01:04.791Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1664977638893.1726,
          "date": "2022-10-05T14:01:04.989Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.eot",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1664977638901.031,
          "date": "2022-10-05T14:01:05.188Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.svg",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1664977638901.9841,
          "date": "2022-10-05T14:01:05.391Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.ttf",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1664977638899.2358,
          "date": "2022-10-05T14:01:05.592Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.woff",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1664977638900.1462,
          "date": "2022-10-05T14:01:05.792Z"
        },
        {
          "file": "img/logo (другая копия).png",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1664977638839.4055,
          "date": "2022-10-05T14:01:05.987Z"
        },
        {
          "file": "img/logo (копия).png",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1664977638838.4211,
          "date": "2022-10-05T14:01:06.196Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1664977638840.1873,
          "date": "2022-10-05T14:01:06.357Z"
        },
        {
          "file": "js/form.js",
          "mtimeMs": 1650977430011.979,
          "ctimeMs": 1664977638820.7278,
          "date": "2022-10-05T14:01:06.527Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1664981754147.72,
          "ctimeMs": 1664981754147.72,
          "date": "2022-10-05T14:55:54.510Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1664977638823.5417,
          "date": "2022-10-05T14:01:06.909Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1664977638821.707,
          "date": "2022-10-05T14:01:07.087Z"
        },
        {
          "file": "js/select2.min.js",
          "mtimeMs": 1651056282665.825,
          "ctimeMs": 1664977638818.8835,
          "date": "2022-10-05T14:01:07.342Z"
        },
        {
          "file": "js/jquery.maskedinput.min.js",
          "mtimeMs": 1664980725663.3125,
          "ctimeMs": 1664980725663.5657,
          "date": "2022-10-05T14:38:46.019Z"
        },
        {
          "file": "js/jquery.twentytwenty.js",
          "mtimeMs": 1664980734084.75,
          "ctimeMs": 1664980734084.9255,
          "date": "2022-10-05T14:38:54.452Z"
        },
        {
          "file": "css/fancybox.min.css",
          "mtimeMs": 1664980926791.4116,
          "ctimeMs": 1664980926791.6902,
          "date": "2022-10-05T14:42:07.162Z"
        },
        {
          "file": "css/swiper-bundle.min.css",
          "mtimeMs": 1664980959304.6458,
          "ctimeMs": 1664980959305.023,
          "date": "2022-10-05T14:42:39.675Z"
        },
        {
          "file": "css/twentytwenty.css",
          "mtimeMs": 1664980964102.3276,
          "ctimeMs": 1664980964102.726,
          "date": "2022-10-05T14:42:44.479Z"
        },
        {
          "file": "pages/home/index.html",
          "mtimeMs": 1664998677829.6118,
          "ctimeMs": 1664998677829.6118,
          "date": "2022-10-05T19:37:58.174Z"
        },
        {
          "file": "css/aos.css",
          "mtimeMs": 1664980913804.8193,
          "ctimeMs": 1664980913805.109,
          "date": "2022-10-05T15:06:01.023Z"
        },
        {
          "file": "js/aos.js",
          "mtimeMs": 1664980693213.8088,
          "ctimeMs": 1664980693214.573,
          "date": "2022-10-05T15:06:01.455Z"
        },
        {
          "file": "js/fancybox.min.js",
          "mtimeMs": 1664980699028.5679,
          "ctimeMs": 1664980699028.8384,
          "date": "2022-10-05T15:06:01.653Z"
        },
        {
          "file": "js/jquery.event.move.js",
          "mtimeMs": 1664980717361.7305,
          "ctimeMs": 1664980717362.03,
          "date": "2022-10-05T15:06:01.817Z"
        },
        {
          "file": "js/swiper-bundle.min.js",
          "mtimeMs": 1664980873303.9216,
          "ctimeMs": 1664980873304.1785,
          "date": "2022-10-05T15:06:02.313Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
