/* Header
 ----------------------------------------------------------------------------- */

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	// z-index: 1;
	z-index: 5;

	padding: 0.625em 0 1em;
	// background-color: $color_dark;

	&_bg {
		background-color: $color_dark;

	}

	@media (min-width: 768px) {
		padding: 2.1875em 0 0;
		/* 35/16 */
	}

	&__content {
		@extend .container_center;
	}

	&__top {
		display: flex;
		align-items: center;
		@media (min-width: 768px) {
			justify-content: space-between;
		}
	}

	&__logo {
		margin-left: 0.25em;
		@media (min-width: 768px) {
			margin-left: 0;
			display: flex;
			align-items: center;
		}
	}

	&__city {}

	&__calc {}

	&__messenger {}

	&__action {
		text-align: center;
		margin-left: 2.25em;

		@media (min-width: 768px) {
			text-align: inherit;
			margin-left: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 26.25em;
		}
	}

	&__bottom {
		// padding-top: 2.5em;
		// padding-bottom: 3.75em;
		padding-top: 2.125em;
		/* 34/16 */
		padding-bottom: 2.5em;
	}

	&__nav {}

	&__toggle {
		position: absolute;

		@media (max-width: 767px) {
			top: 1.75em;
			right: 1.25em;
			width: 0.9375em;
			height: 0.875em;
			color: $color_white;
			border: 0.18em solid;
			border-left: 0;
			border-right: 0;
			border-bottom: 0;
			// border-bottom-width: 0.5em;

			z-index: 51;
			cursor: pointer;

			&:after,
			&:before {
				content: '';
				display: inline-block;
				border-top: 0.18em solid;
				/* 3/16 */
				width: 0.625em;
				position: absolute;
				top: 50%;
				// выровнить псевдо эл. по центру: половина от толщины border
				margin-top: -0.09em;
				left: 0;
				// width: 100%;
				transition: 0.3s;

			}

			&.active {
				border-top-color: transparent;
				border-bottom-color: transparent;

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			&_open {
				border: 0;
				position: fixed;

				&:after,
				&:before {
					content: '';
					border-top: 0.18em solid $color_white;
					width: 100%;
				}

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}
		}
	}

}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	background-color: $color_dark;
	padding: 1em 0 0;

	.header__bottom {
		padding-top: 0;
		padding-bottom: 1em;
	}

	@media (min-width: 768px) {
		.header__top {
			display: none;
		}

		.menu {
			> .menu-item {
				padding-bottom: 1em;
			}
		}

	}

	-webkit-animation-name: showMenu;
	animation-name: showMenu;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes showMenu {
	0% {
		opacity: 0.5;
		transform: translateY(-4em);
	}

	100% {
		opacity: 1;
		transform: translateY(0em);
	}
}
