.header {
    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        > .menu-item {
            // padding-bottom: 0.75em;
            padding-bottom: 2em;
            letter-spacing: 0.1em;
            @media (max-width: 767px) {
                &:last-child {
                    padding-bottom: 0;
                }
            }
            @media (min-width: 768px) {
                padding-bottom: 1.25em;
            }

            > a {
                position: relative;
                color: $color_white;
                text-decoration: none;
                text-transform: uppercase;

                font-size: 0.875em;
                font-weight: 500;

                @media (min-width: 768px) {
                    i {
                        color: inherit;
                        position: absolute;
                        top: 50%;
                        right: -3em;
                        transform: translateY(-50%) scale(1);
                        font-size: 0.5em;
                        transition: transform 0.2s;
                    }
                }

            }

            &:hover {
                > a {
                    color: $color_warning;
                }

                @media (min-width: 768px) {
                    i {
                        transform: translateY(-50%) scale(-1);
                    }

                }

            }

        }

        &-item {}

        &-item-has-children {
            @media (min-width: 768px) {
                position: relative;

                &:hover {
                    .sub-menu {
                        height: auto;
                        opacity: 1;
                        top: 100%;
                        visibility: visible;
                    }

                }
            }
        }

    }

    .sub-menu {
        @media (min-width: 768px) {
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            width: max-content;
            height: 0;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            top: 140%;
            left: 0;
            transition: 0.3s;
            z-index: 10;

            display: flex;
            padding: 1em 0;

            .menu-item {
                position: relative;
                margin-right: 5.5em;
                line-height: 0.9;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -3em;
                    width: 0.3125em;
                    height: 0.3125em;
                    background-color: $color_warning;
                }

                &:last-child {
                    margin-right: 0;

                    &:after {
                        content: none;

                    }
                }

            }

            a {
                font-size: 0.875em;
                text-decoration: none;
                color: $color_white;

                &:hover {
                    color: $color_warning;
                }
            }

        }

    }

}

.current-menu-item > a {
    color: $color_warning;
}

.nav-open {
    overflow: hidden;
}
