extends ../../layout/layout.pug
block variable
    -var path = '../../';
    -var page = 'bg';

block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center.container_center_right
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная
                span.kb_sep

                span.kb_title Контакты
    // end breadcrumbs

    // begin contacts
    section#contacts.contacts.section
        .container_center.container_center_right
            .section__caption
                h1.section__title
                    span Наши <b>контакты</b>
            .contacts__row
                .contacts__col
                    each item in ['', '',]

                        .contacts__item
                            .contacts__location
                                .contacts__flex
                                    .contacts__icon
                                        i.icon_location
                                    .contacts__text
                                        span Красноярск, ул. Обороны,<br> д. 3, к. Б, офис 403
                                .contacts__link
                                    a.show_js(href="#map") Смотреть на карте
                    .contacts__item
                        .phone
                            .phone__link
                                a(href="tel:+7 (391) 2-054-081 ") +7 (391) 2-054-081
                            .phone__label
                                span Пн-Сб  9:00-19:00
                    .contacts__item.mb50
                        .contacts__mail
                            a(href="mailto:informremont@mail.ru") informremont@mail.ru

                    .contacts__item.mb50
                        .contacts__label
                            span Мы в соцсетях
                        .messenger.messenger_large

                            .messenger__list
                                .messenger__item
                                    a.messenger__link(href="https://wa.me/+73912054081" target="_blank")
                                        i.icon_whatsapp
                                .messenger__item
                                    a.messenger__link(href="https://wapp.click/73912054081" target="_blank")
                                        i.icon_telegram
                                .messenger__item
                                    a.messenger__link(href="viber://chat?number=%2B73912054081" target="_blank")
                                        i.icon_viber

                    .contacts__item.mb50
                        .contacts__label
                            span Пишите онлайн
                        .contacts__messenger
                            .messenger.messenger_large
                                .messenger__list
                                    .messenger__item
                                        a(href="#" target="_blank").messenger__link
                                            i.icon_youtube
                                    .messenger__item
                                        a(href="#" target="_blank").messenger__link
                                            i.icon_wk
                                    .messenger__item
                                        a(href="#" target="_blank").messenger__link
                                            i.icon_insta

                    .contacts__item
                        .contacts__link
                            a(href="../../img/pdf.pdf" target="_blank") Реквизиты
                            //- a(href="#") Реквизиты

                .contacts__col

                    .contacts__item
                        .contacts__label
                            span До встречи в офисе
                        .swiper__label.mobile
                            .swiper__img
                                img(src="../../img/hand.svg")
                            span Листайте влево/вправо
                        .swiper.singleSlider.single-swiper-js
                            .swiper-wrapper.singleSlider__wrapper.itemForDataFancybox_js
                                each item in [1,1,1,1]
                                    .swiper-slide.singleSlider__slide
                                        .contacts__img.img
                                            a(href="../../img/contacts_1.jpg" data-fancybox data-type="image")
                                                img(src="../../img/contacts_1.jpg" loading="lazy")
                            .contacts__control
                                .singleSlider__dotted
                                .singleSlider__arrows.custom_arrows.desktop
                                    i.icon_arrow_left
                                    i.icon_arrow_right

                    .contacts__item
                        .contacts__label
                            span До встречи у вас на замере
                        .swiper__label.mobile
                            .swiper__img
                                img(src="../../img/hand.svg")
                            span Листайте влево/вправо
                        .swiper.singleSlider.single-swiper-js
                            .swiper-wrapper.singleSlider__wrapper.itemForDataFancybox_js
                                each item in [1,1,1,1]
                                    .swiper-slide.singleSlider__slide
                                        .contacts__img.img
                                            a(href="../../img/contacts_2.jpg" data-fancybox data-type="image")
                                                img(src="../../img/contacts_2.jpg" loading="lazy")
                            .contacts__control
                                .singleSlider__dotted
                                .singleSlider__arrows.custom_arrows.desktop
                                    i.icon_arrow_left
                                    i.icon_arrow_right

                .contacts__col
                    .contacts__form.bg
                        .contacts__form-title
                            span Форма обратной связи
                        .contacts__form-subtitle
                            span Оставьте заявку, позвоним в течение 10 минут
                        form.form
                            .form__row
                                .form__label
                                    span Введите номер телефона
                                input(type="tel" class="tel" required placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")

                            .form__row
                                button.btn.btn_didisabled_js(type="submit")
                                    span Позвоните мне

                            .form__row.form__row_full.form__row_mb0
                                .form__privacy
                                    label.form__check
                                        input.check_checked_js(type="checkbox" checked="checked")
                                        span.snakeline Нажимая кнопку вы соглашаетесь  с условиями<br> <a href="#privacy" class="show_js">Политики конфиденциальности</a>


    // end contacts

    // begin report
    section#report.report.section
        .report__wrap
            .report__notepad
                .notepad
                    .section__subtitle
                        span Рассчитайте примерную стоимость в нашем онлайн калькуляторе
                    .notepad__link
                        a.show_js(href="#calculate") Перейти в калькулятор

                    .notepad__bg.bg
            .report__content
                .report__caption
                    h2.report__title(data-aos="fade-up")
                        span Скачайте пример реальной сметы на ремонт с полными графиками работ
                    .report__subtitle
                        span и поймите наш подход наглядно
                .report__form
                    form.form.form_sm
                        .form__row
                            .form__label
                                span Куда прислать?
                            select.select(data-placeholder="Whatsapp")
                                option(value="")
                                option(value="whatsapp") Whatsapp
                                option(value="Viber") Viber
                                option(value="Telegram") Telegram
                                option(value="mail") Email

                        .form__row.form__row_hide.form__row_email_js
                            .form__label
                                span Введите email
                            input(type="email" placeholder="E-mail")

                        .form__row.form__row_phone_js
                            .form__label
                                span Введите номер телефона
                            input(type="tel" class="tel" required placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit")
                                span Скачать смету

                        .form__row.form__row_mb0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span.snakeline Нажимая кнопку вы соглашаетесь  с условиями<br> <a href="#privacy" class="show_js">Политики конфиденциальности</a>

                .report__bg.bg(data-aos="fade-left" data-aos-delay="500")

    // end report
