
<header class="header">
  <div class="header__content">
    <!-- start .header__top-->
    <div class="header__top">
      <div class="header__logo"><a class="logo" href="/"><img src="/img/logo.png"/></a>
        <div class="logo__info desktop"><span>Строительная компания. Работаем с 2014 года Красноярск, Москва, СПБ</span></div>
      </div>
      <div class="header__messenger desktop">
        <div class="messenger">
          <div class="messenger__label"><span>Спрашивайте, отвечаем онлайн</span></div>
          <div class="messenger__list">
            <div class="messenger__item"><a class="messenger__link" href="https://wa.me/+73912054081" target="_blank"><i class="icon_whatsapp"></i></a></div>
            <div class="messenger__item"><a class="messenger__link" href="https://wapp.click/73912054081" target="_blank"><i class="icon_telegram"></i></a></div>
            <div class="messenger__item"><a class="messenger__link" href="viber://chat?number=%2B73912054081" target="_blank"><i class="icon_viber"></i></a></div>
          </div>
        </div>
      </div>
      <div class="header__action">
        <div class="phone">
          <div class="phone__label"><span>Пн-Сб  9:00-19:00</span></div>
          <div class="phone__link"><a href="tel:+7 (391) 2-054-081 ">+7 (391) 2-054-081</a></div>
        </div>
        <div class="callback"><a class="callback__link show_js" href="#application">Обратный звонок</a></div>
      </div>
    </div>
    <!-- end .header__top-->
  </div>
</header>