footer.footer.footer_leadmagnet
    .container_center.container_center_sm
        .footer__row
            .footer__col.snakeline
                span ООО Арстрой<br> <a href="#">Политика конфиденциальности</a>
            .footer__col
                span Материалы с сайта защищены законом РФ об авторских и смежных правах. Копирование запрещено. Сайт не является договором офферты
            .footer__col
                span Сделано с любовью в <a class="bold_border" href="https://paradigma.website/" target="_blank">Paradigma.website</a>
