header.header.header_leadmagnet

    .header__content
        // start .header__top
        .header__top
            .header__logo
                a.logo(href="/")
                    img(src="/img/logo.png")
                .logo__info.desktop
                    span Строительная компания. Работаем с 2014 года Красноярск, Москва, СПБ


            .header__action
                .messenger.desktop
                    .messenger__label
                        span Спрашивайте, отвечаем онлайн
                    .messenger__list
                        .messenger__item
                            a.messenger__link(href="https://wa.me/+73912054081" target="_blank")
                                i.icon_whatsapp
                        .messenger__item
                            a.messenger__link(href="https://wapp.click/73912054081" target="_blank")
                                i.icon_telegram
                        .messenger__item
                            a.messenger__link(href="viber://chat?number=%2B73912054081" target="_blank")
                                i.icon_viber
                .phone
                    .phone__label
                        span Пн-Сб  9:00-19:00
                    .phone__link
                        a(href="tel:+7 (391) 2-054-081 ") +7 (391) 2-054-081

                .callback
                    a.callback__link.show_js(href="#application") Обратный звонок

        // end .header__top
