extends ../../layout/layout.pug
block variable
    -var path = '../../';


block content
    // begin first
    section#first.first.section
        .container_center
            h2.section__title first
            .first__content
                .first__left
                .first__right

    // end firs
