extends layout/layout.pug

block content
    // begin test
    section#test.test.section
        .container_center
            h2.section__title навигация
            .test__content
                ul
                    li
                        a(href="../pages/home/") Главная 


    // end test
