extends layout/layout.pug

block content
    // begin test
    section#test.test.section
        .container_center
            h2.section__title
                span Навигация
            .test__content
                ul(style="font-size:1.25em;")
                    li
                        a(href="../pages/home/") Главная 
                    li
                        a(href="../pages/services/") Услуги 
                    li
                        a(href="../pages/portfolio/") Портфолио 
                    li
                        a(href="../pages/project/") Портфолио (одна работа)
                    li
                        a(href="../pages/project2/") Портфолио (одна работа, проект дома)
                    li
                        a(href="../pages/about/") О компании 
                    li
                        a(href="../pages/blog/") Блог
                    li
                        a(href="../pages/blogSingle/") Блог одна статья
                    li
                        a(href="../pages/vacancy/") Вакансии
                    li
                        a(href="../pages/purveyor/") Поставщикам
                    li
                        a(href="../pages/contacts/") Контакты
                    li
                        a(href="../pages/designers/") Дизайнерам
                    li
                        a(href="../pages/thanks/") Спасибо
                    li
                        a(href="../pages/404/") 404
                    li
                        a(href="../pages/leadmagnet/") лидмагнит
                    li
                        a(href="../pages/apartments/") Ремонт квартир, домов
                    li
                        a(href="../pages/remont/") Ремонт коммерческих объектов
                    li
                        a(href="../pages/design/") Дизайн-проектирование (в работе)
                    li
                        a(href="../pages/construction/") Малоэтажное строительство (в работе)


    // end test

    // begin tetsModals
    section#tetsModals.tetsModals.section
        .container_center
            h2.section__title
                span Модальные окна

            ul(style="font-size:1.25em;")
                li
                    a.show_js(href="#privacy") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ  
                li
                    a.show_js(href="#application") Быстро оставьте заявку
                li
                    a.show_js(href="#vacancymodal") Оставьте свой отклик на вакансию
                li
                    a.show_js(href="#mortgage") Узнайте условия строительства своего дома в ипотеку 
                li
                    a.show_js(href="#discounts") Расскажем про актуальные скидки
                li
                    a.show_js(href="#calculate") Что вам нужно рассчитать?
                li
                    a.show_js(href="#download") Скачать презентацию
                li
                    a.show_js(href="#download2") Скачать презентацию 2







    // end tetsModals
