extends layout/layout.pug

block content
    // begin test
    section#test.test.section
        .container_center
            h2.section__title
                span Навигация
            .test__content
                ul(style="font-size:1.25em;")
                    li
                        a(href="../pages/home/") Главная 
                    li
                        a(href="../pages/services/") Услуги 
                    li
                        a(href="../pages/portfolio/") Портфолио 


    // end test

    // begin tetsModals
    section#tetsModals.tetsModals.section
        .container_center
            h2.section__title
                span Модальные окна

            ul(style="font-size:1.25em;")
                li
                    a.show_js(href="#privacy") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ  
                li
                    a.show_js(href="#application") Быстро оставьте заявку
                li
                    a.show_js(href="#vacancymodal") Оставьте свой отклик на вакансию
                li
                    a.show_js(href="#mortgage") Узнайте условия строительства своего дома в ипотеку 
                li
                    a.show_js(href="#discounts") Расскажем про актуальные скидки
                li
                    a.show_js(href="#calculate") Что вам нужно рассчитать?
                li
                    a.show_js(href="#download") Скачать презентацию
                li
                    a.show_js(href="#download2") Скачать презентацию 2







    // end tetsModals
