extends ../layout/layout.pug
block variable
    -var path = '../';
    -var page = true;


block content

    // begin quiz
    section#quiz.quiz.section
        .container_center
            .quiz__caption
                h1.section__title
                    span <b>Рассчитайте стоимость</b> в калькуляторе +<br> зафиксируйте за собой подарок
                .quiz__description
                    span <b>После теста вы получите:</b><br> альбом чертежей и пример сметы на реальный<br> объект, консультацию нашего специалиста 

            form.quiz-form(action='#')

                // start quiz-container
                #quiz.quiz-container
                    // start quiz-main
                    .quiz-main
                        .quiz-wrap
                            .quiz-line
                                .quiz-line__bg(style='width: 5%;')
                                .quiz-line__text
                                    span.quiz-line__label.bold Вопрос 
                                    span.quiz-line-step_current.bold 1
                                    span.quiz-line__label  из 
                                    span.quiz-line-step_total 4

                            // start quiz-question
                            .quiz-question.quiz-question__photo.active(data-q='')

                                .quiz-question__title 
                                    span Что именно вам нужно?

                                .quiz-question__wrap.quiz-question__wrap_grid

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='radio' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_1.jpg' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon_mark
                                            span.quiz-question__photo-text Комплексный ремонт дома, квартиры под ключ
                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='radio' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_2.jpg' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon_mark
                                            span.quiz-question__photo-text Ремонт коммерческого объекта

                                        .quiz-question-video
                                            .play.youtubeModal-js#rsDoGqnPE4c
                                                i.icon_play

                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='radio' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_3.jpg' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon_mark
                                            span.quiz-question__photo-text Создание дизайн-проекта интерьера

                                        .quiz-question-hint
                                            i.icon_info
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='radio' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_4.jpg' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon_mark
                                            span.quiz-question__photo-text Строительство каменного дома
                                    // end quiz-question__photo-block

                            // end quiz-question

                            // start quiz-question
                            .quiz-question.quiz-question__photo(data-q='')

                                .quiz-question__title 
                                    span Что именно вам нужно 2?

                                .quiz-question__wrap.quiz-question__wrap_grid

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='checkbox' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_1.jpg' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon_mark
                                            span.quiz-question__photo-text Комплексный ремонт дома, квартиры под ключ
                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='checkbox' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_2.jpg' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon_mark
                                            span.quiz-question__photo-text Ремонт коммерческого объекта

                                        .quiz-question-video
                                            .play.youtubeModal-js#rsDoGqnPE4c
                                                i.icon_play

                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='checkbox' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_3.jpg' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon_mark
                                            span.quiz-question__photo-text Создание дизайн-проекта интерьера

                                        .quiz-question-hint
                                            i.icon_info
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='checkbox' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_4.jpg' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon_mark
                                            span.quiz-question__photo-text Строительство каменного дома
                                    // end quiz-question__photo-block

                            // end quiz-question

                            // start quiz-question
                            .quiz-question.quiz-question__text(data-q='')

                                .quiz-question__title 
                                    span Какое текущее состояние объекта?

                                .quiz-question__wrap.quiz-question__wrap_text

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Без отделки
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Чистовая отделка от застройщика
                                        .quiz-question-hint
                                            i.icon_info
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Черновая отделка (штукатурка на стенах)
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Вторичная недивжимость, необходим осмотр
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Получистовая отделка “Белый куб”
                                        .quiz-question-video
                                            .play.youtubeModal-js#rsDoGqnPE4c
                                                i.icon_play
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Пропустить вопрос
                                    // end quiz-question__text-block


                            // end quiz-question

                            // start quiz-question
                            .quiz-question.quiz-question__text(data-q='')

                                .quiz-question__title 
                                    span Какое текущее состояние объекта 2?

                                .quiz-question__wrap.quiz-question__wrap_text

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Без отделки
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Чистовая отделка от застройщика
                                        .quiz-question-hint
                                            i.icon_info
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Черновая отделка (штукатурка на стенах)
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Вторичная недивжимость, необходим осмотр
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Получистовая отделка “Белый куб”
                                        .quiz-question-video
                                            .play.youtubeModal-js#rsDoGqnPE4c
                                                i.icon_play
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon_mark
                                            p Пропустить вопрос
                                    // end quiz-question__text-block


                            // end quiz-question

                            // start quiz-question .quiz-question__wrap_text
                            .quiz-question.quiz-question__file(data-q='')

                                .quiz-question__title.quiz-question__file-title
                                    span Прикрепите дизайн-проект<br> или фото, если есть?
                                    small Это поможет нам предложить лучшее решение<br> для вас и сократит время на уточнение деталей  

                                .quiz-question__wrap.quiz-question__wrap_file
                                    .quiz-question__file-block
                                        label(data-text="Файл не выбран").send-form__file
                                            input(type='file' required='required')
                                            p Загрузить файл

                                    .quiz-question__file-block
                                        label(data-text="Файл не выбран").send-form__file
                                            input(type='file' required='required')
                                            p Загрузить файл

                                    .quiz-question__file-block
                                        .send-form__link
                                            input(type='url' placeholder="Или добавьте ссылку на документ")

                                .quiz-question__slider-input
                                    label
                                        input(type='checkbox' required='' name='')
                                        .input-check
                                            i.icon_mark
                                        p Пропустить вопрос
                            // end quiz-question




                        .quiz-footer
                            .quiz-footer__hint
                                span <b>Выберите вариант ответа</b><br> и нажмите кнопку “Далее”

                            .quiz-arrow__wrap
                                button.quiz-arrow.quiz-arrow__prev
                                    p Назад
                                button.quiz-arrow.quiz-arrow__next(disabled='')
                                    p Далее

                    // end quiz-main



                    // start quiz-right
                    .quiz-right.desktop
                        .quiz-right__bg.bg(style="background-image: url('../img/quiz/quiz_bg.png')")
                        .quiz-right__persone.bg(style="background-image: url('../img/quiz/quiz_person.png')")
                        .quiz-right__content

                            p Здравствуйте, меня зовут Маргарита,<br> менеджер по работе с клиентами.
                            p Рассчитаю стоимость, сориентирую<br> по срокам, подготовлю коммерческое<br> предложение по вашим ответам

                    // end quiz-right

                // end quiz-container

                // start quiz-result
                .quiz-result
                    .quiz-result__wrap
                        .quiz-result__title.section__title
                            span <b>Отлично!</b> Остался последний шаг!

                        .quiz-result__text
                            span Выберите удобный мессенджер, куда прислать прайс на услуги + за вашим номером зафиксируем подарок

                        .quiz-result__messenger
                            .form
                                .form__label
                                    span Куда прислать?
                                .form__row
                                    select.select(data-placeholder="Whatsapp")
                                        option(value="")
                                        option(value="whatsapp") Whatsapp
                                        option(value="Viber") Viber
                                        option(value="Telegram") Telegram

                                .form__row
                                    input(type="tel" class="tel" required placeholder="Введите ваш номер")

                                .form__row
                                    //- button.btn.btn_didisabled_js(type="submit") Получить презентацию с ценами на услуги
                                    button.btn.btn_didisabled_js.quiz-result__btn Получить расчет стоимости
                                .form__row
                                    .form__privacy
                                        label.form__check

                                            //- input(type='checkbox' required='' name='')
                                            input.check_checked_js(type="checkbox" checked="checked")
                                            .input-check
                                                i.icon-check_mark

                                            //- input.check_checked_js(type="checkbox" checked="checked")
                                            span Вы соглашаетесь с <a href="#" target="_blank" class="privacy_js">с условиями обработки персональных данных</a>

                        .quiz-result__phone

                // end quiz-container


    // end quiz
