//- apartments
extends ../../layout/layout.pug
block variable
    -var path = '../../';
    //- -var page = true;

block content
    // begin breadcrumbs
    .breadcrumbs.breadcrumbs_reverse.section
        .container_center.container_center_right
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная
                span.kb_sep
                span
                    a(href="#")
                        span Услуги
                span.kb_sep

                span.kb_title Ремонт квартир,домов
    // end breadcrumbs

    // begin head
    section#head.head.head_apartments.section(style="background-image: url('../../img/apartments_bg.webp')").bg.lines
        .lines__wrap
            .lines__list
                span
                span
                span
                span
                span

        .container_center.container_center_right
            .head__content
                .head__left
                    .head__subtitle.mb20
                        span В Москве и МО

                    h1.head__title.mb22
                        span Сделаем ремонт вашей<br> квартиры <i>от 70 м2</i> или дома <b>под<br> ключ с гарантией 5 лет</b>по договору
                    .head__subtitle.mb80
                        span от разработки дизайн-проекта до установки мебели и уборки
                    .head__action.mb20
                        a.btn.show_js(href="#application")
                            span Рассчитать стоимость
                            span вашего ремонта
                        a.btn.btn_dark.btn_whatsapp(href="#")
                            span Напишите нам в WhatsApp
                            small время ответа 10 минут
                    .head__text
                        span Пройдите короткий тест, чтобы мы сориентировали по стоимости и сформировали предложение для вас.
                .head__right
                    .head__list
                        each item in [ '100+ реализованных проектов<br> и довольных  клиентов', 'Разрабатываем детальную и<br> понятную смету', 'Соблюдаем стандарты<br> качества в ремонте ', 'Работаем без предоплаты<br> и только в «белую»' ]
                            .head__item
                                .head__mark.check_mark
                                    i.icon_mark
                                span!=item 

    // end head
