//- apartments
extends ../../layout/layout.pug
block variable
    -var path = '../../';
    //- -var page = true;

block content
    // begin breadcrumbs
    .breadcrumbs.breadcrumbs_reverse.section
        .container_center.container_center_right
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная
                span.kb_sep
                span
                    a(href="#")
                        span Услуги
                span.kb_sep

                span.kb_title Ремонт квартир,домов
    // end breadcrumbs

    // begin head
    section#head.head.head_apartments.section(style="background-image: url('../../img/apartments_bg.webp')").bg.lines
        .lines__wrap
            .lines__list
                span
                span
                span
                span
                span

        .container_center.container_center_right
            .head__content
                .head__left
                    .head__subtitle.mb20
                        span В Москве и МО

                    h1.head__title.mb22
                        span Сделаем ремонт вашей<br> квартиры <i>от 70 м2</i> или дома <b>под<br> ключ с гарантией 5 лет</b>по договору
                    .head__subtitle.mb80
                        span от разработки дизайн-проекта до установки мебели и уборки
                    .head__action.mb20
                        a.btn.show_js(href="#application")
                            span Рассчитать стоимость
                            span вашего ремонта
                        a.btn.btn_dark.btn_whatsapp(href="#")
                            span Напишите нам в WhatsApp
                            small время ответа 10 минут
                    .head__text
                        span Пройдите короткий тест, чтобы мы сориентировали по стоимости и сформировали предложение для вас.
                .head__right
                    .head__list
                        each item in [ '100+ реализованных проектов<br> и довольных  клиентов', 'Разрабатываем детальную и<br> понятную смету', 'Соблюдаем стандарты<br> качества в ремонте ', 'Работаем без предоплаты<br> и только в «белую»' ]
                            .head__item
                                .head__mark.check_mark
                                    i.icon_mark
                                span!=item 

    // end head

    // begin muchMore
    section#muchMore.muchMore.section
        .container_center.container_center_right
            h2.section__title
                span <b>Делаем гораздо больше</b> чем обычные ремонтные бригады
        .container_right
            .muchMore__tabs
                .tabs__wrapper
                    .tabs
                        each item in ['Дизайн-проектирование', 'Снабжение объекта', 'Черновая и чистовая отделка', 'Чистота']
                            .tab
                                span=item
                    .tabs__content
                        //start tab__item
                        .tab__item
                            .muchMore__content.muchMore__content_engineering.bg(style="background-image: url('../../img/muchMore_bg_1.webp')")
                                .muchMore__left
                                    .muchMore__title
                                        span Создаем дизайн-проект с нуля<br> или работаем по вашему
                                    ul
                                        li
                                            span учитываем ваши пожелания и идеи
                                        li
                                            span разрабатываем комплексный пакет документов с<br> различными вариантами планировки, схемами,<br> техническими планами, 3D-визуализацией,<br> иллюстрациями
                                        li
                                            span комплектуем реальными позициями
                                        li
                                            span добиваемся 100% реализации

                                    .muchMore__action
                                        a.btn(href="#") 
                                            span Подробнее о дизайн-проектировании
                                        .muchMore__link
                                            a(href="#") Посмотреть пример дизайн-проекта

                                .muchMore__right.desktop
                                    .muchMore__persone.bg(style="background-image: url('../../img/muchMore_persone.webp')")
                                        .person
                                            .person__name
                                                span Турова <br>Ирина
                                            .person__description
                                                span Дизанйер интерьера<br> ООО «АРТСТРОЙ»


                            .muchMore__form
                                .muchMore__caption
                                    small Уже есть дизайн-проект?
                                    span Пришлите дизайн-проект и <b>получите смету на ремонт</b>

                                .form__wrap
                                    form.form.form_grid

                                        .form__row.form__row_31
                                            .form__label
                                                span Прикрепите файл с проектом
                                            label.form__file_label(data-text="Файл не выбран")
                                                input(type='file' required='required')
                                                p.form__file Загрузить файл
                                        .form__row.form__row_31
                                            .form__label
                                                span Введите номер телефона
                                            input(type="tel" class="tel" required placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")

                                        .form__row.form__row_38
                                            .form__label.desktop
                                                span Смета будет готова в течение 3-х рабочих дней
                                            button.btn.btn_didisabled_js(type="submit")
                                                span Отправить дизайн-проект
                                                span и получить смету

                                        .form__row.form__row_full.form__row_mb0
                                            .form__privacy
                                                label.form__check
                                                    input.check_checked_js(type="checkbox" checked="checked")
                                                    span.snakeline Нажимая кнопку вы соглашаетесь  с условиями <a href="#privacy" class="show_js">Политики конфиденциальности</a>

                        //end tab__item

                        //start tab__item
                        .tab__item
                            .muchMore__content.muchMore__content_supply.bg(style="background-image: url('../../img/muchMore_bg_2.webp')")
                                .muchMore__left
                                    .muchMore__title
                                        span Отдел снабжения заказывает и<br> доставляет материалы на объект<br> точно в срок. 
                                        span Без хлопот для вас и<br> Управляющей компании.
                                    .muchMore__text
                                        p У нас налажены прямые поставки материалов от ведущих производителей.  
                                        p Если чего-то нет в стране или это снято с производства, наш отдел снабжения предложит аналоги в разумный срок и по приемлемой цене
                                .muchMore__right
                                    .logos__grid
                                        each item in [1,2,3,1,2,3,1,2,3 ]

                                            .logos__item
                                                .logos__pop
                                                    .pop
                                                        .pop__content
                                                            span Lorem ipsum dolor sit amet, consectetur adipisicing elit lorem
                                                .logos__img.img
                                                    img(src="../../img/logo_"+item+".png")







                        //end tab__item

                        //start tab__item
                        .tab__item
                            .muchMore__content.muchMore__content_finish.bg(style="background-image: url('../../img/muchMore_bg_3.webp')")
                                .muchMore__title
                                    span Все работы и ответственность на нас
                                .provider__list.counter-wrap
                                    each item in [ 'Керамическая<br> плитка', 'Металлопрокат', 'Кварцвиниловые<br>покрытия', 'Паркетная<br> доска', 'Производители<br> инструмента', 'Сантехника', 'Производители<br> газобетона', 'Мебель', 'Транспортные<br> компании', 'Кровельные<br> материалы', 'Инженерные<br> системы' ]
                                        .provider__item.counter-item
                                            .provider__nav
                                                .provider__icon.check_mark
                                                    i.icon_mark
                                                .provider__number
                                                    span.counter-el
                                            .provider__label
                                                span!=item

                                    .provider__item
                                        .provider__label
                                            span и все, что необходимо , чтобы довести до задуманного в дизайн-проекте

                        //end tab__item

                        //start tab__item
                        .tab__item
                            .muchMore__content.muchMore__content_clean.bg(style="background-image: url('../../img/muchMore_bg_4.webp')")
                                .muchMore__title.muchMore__title_sm
                                    span На наших объектах всегда чисто, мы полностью укрываем все<br> элементы мебели, дверей, окон и полов с целью сохранения покрытия.<br> Перед сдачей объекта вывозим мусор

                        //end tab__item



    // end muchMore

    // begin details
    section#details.details.section
        .container_center.container_center_right
            h2.section__title
                span Внимание деталям. <b>Заморочены на качестве</b>
            .details__link
                a(href="../../img/pdf.pdf" target="_blank") Посмотреть стандарты АРТСТРОЙ
        .container_right
            .details__grid
                each item in [1,2,3]

                    .details__preview.bg(style="background-image: url('../../img/details_"+item+".jpg')")
                        .details__plus(style="top: 37%; left: 60%;")
                            .details__icon
                                i.icon_plus

                            .details__pop
                                .pop
                                    .pop__content
                                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        .details__plus(style="top: 17%; left: 20%;")
                            .details__icon
                                i.icon_plus

                            .details__pop
                                .pop
                                    .pop__content
                                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .details__content
            .details__list
                .details__item
                    .details__head
                        .details__mark.check_mark
                            i.icon_mark
                        .details__label
                            span Контролируем исполнение<br> стандартов качества в 4 этапа
                    .details__text
                        span Кроме прораба и бригадира перед сдачей объект проверяет<br> независимый строительный эксперт и лично технический директор.<br> Именно поэтому у нас <b>меньше 1% гарантийных случаев за 8 лет.</b>

                .details__item
                    .details__head
                        .details__mark.check_mark
                            i.icon_mark
                        .details__label
                            span 5 лет на ремонт
                    .details__text
                        span гарантии зафиксированы<br> в договоре



    // end details

    // begin facts
    section.facts.section
        .container_center
            .facts__content.facts__content_center
                .facts__caption
                    .section__subtitle
                        span Не возможно быть лучшими во всем спектре ремонтных работ.   
                    h2.section__title
                        span <b>Мы привлекаем специалистов-партнеров</b> для узкопрофильных работ  
                    .section__subtitle
                        span и сохраняем гарантии для вас

                .facts__list
                    .provider__list.provider__list_col2.counter-wrap
                        each item in [ 'Установка<br> межкомнатных и<br> входных дверей', 'Вентиляция и<br> кондиционирование', 'Установка<br> пластиковых окон', 'Укладка и циклевка<br> паркета' ]
                            .provider__item.counter-item
                                .provider__nav
                                    .provider__icon.check_mark
                                        i.icon_mark
                                    .provider__number
                                        span.counter-el
                                .provider__label
                                    span!=item



    // end facts

    // begin docount
    section#docount.docount.section
        .container_right
            .docount__wrap.bg
                .docount__content
                    h2.section__title
                        span Разрабатываем <b>детальную и понятную смету</b>
                    .section__subtitle
                        span с указанием позиций материалов,  объемов и площади работ

                    .section__list
                        .section__item
                            .section__mark.check_mark
                                i.icon_mark
                            span Подбираем <b>лучшие варианты </b> материалов и комплектующих  <b>в рамках бюджета и проекта. </b> 

                        .section__item
                            .section__mark.check_mark
                                i.icon_mark
                            span В среднем стоимость ремонта — от 20 000  руб. / м²  <b>зависит от сложности работ, состояния объекта, площади.  </b>

                    .docount__button
                        a.btn(href="#")
                            span Посмотрите пример реальной сметы и
                            span убедитесь в детальности проработки



    // end docount

    // begin personalManager
    section#personalManager.personalManager.section
        .container_center
            .personalManager__content.bg(style="background-image: url('../../img/personalManager_bg.jpg')")
                .personalManager__left
                    h2.section__title
                        span Ваш проект ведет личный менеджер
                    .section__subtitle
                        span который быстро и адекватно реагирует на  пожелания и вопросы

                .personalManager__right
                    h2.section__title
                        span На связи 7 дней в неделю
                    .section__subtitle
                        span по телефону, почте и в мессенджерах
                    .section__list
                        .section__item
                            .section__mark.check_mark
                                i.icon_mark
                            span <b>Отвечает в течение 1—2</b> часов в рабочее время

                        .section__item
                            .section__mark.check_mark
                                i.icon_mark
                            span Чат в WhatsApp / Viber / Telegram <b>для обсуждения текущих вопросов</b>


                        .section__item
                            .section__mark.check_mark
                                i.icon_mark
                            span <b>Фото и видео отчеты о</b> проделанной работе

                .personalManager__persone.bg(style="background-image: url('../../img/muchMore_persone.webp')")

                .personalManager__mask.bg.desktop





    // end personalManager

    // begin information
    section#information.information.section.bg.lines(style="background-image: url('../../img/information_bg.webp')")
        .lines__wrap
            .lines__list
                span
                span
                span
                span
                span
        .container_center
            .information__content
                .section__subtitle
                    span Разбиваем стереотипы о халтурах в ремонте. Иногда ошибаемся и это нормально,<br> но никогда не бросаем проект на полпути, исправляем ошибки и доводим до ума.  
                h2.section__title
                    span <b>АРТСТРОЙ — ваша профессиональная<br> команда строителей</b>

    // end information

    // begin gifts
    section#gifts.gifts.section
        .container_center.container_center_right
            .gifts__content
                .gifts__left
                    .gifts__caption
                        h2.section__title
                            span Дарим подарки и <b>заботимся о бюджете</b>
                        .gifts__label
                            span Актуальные акции
                    .gifts__control
                        .gifts__dotted
                        .gifts__arrows.custom_arrows.desktop
                            i.icon_arrow_left
                            i.icon_arrow_right
                .gifts__right
                    .swiper__label.mobile
                        .swiper__img
                            img(src="../../img/hand.svg")
                        span Листайте влево/вправо

                    .swiper.gifts__slider.gifts-swiper-js
                        .swiper-wrapper
                            each item in [1,2,1,2]
                                .swiper-slide
                                    .gifts__item.bg(style="background-image: url('../../img/gifts_"+item+".jpg')")
                                        .gifts__top
                                            .gifts__title
                                                span Натяжной потолок<br> сделаем в подарок
                                            .gifts__desc
                                                span при заказе комплексного ремонта
                                        .gifts__main
                                            .gifts__price
                                                span 0 руб
                                            .gifts__oldprice
                                                span Стоимость <b>70 000 руб</b>
                                        .gifts__bottom
                                            a.btn(href="#")
                                                span Получить подарок




    // end gifts


    // begin faq
    section#faq.faq.section
        .container_center
            .faq__caption
                h2.section__title
                    span У нас часто <b>спрашивают</b>
                .faq__button
                    a.btn.btn_dark.btn_whatsapp(href="#")
                        span Напишите нам в WhatsApp
                        small время ответа 10 минут


            .faq__content

                each item in [1,2]

                    .faq__col
                        each title in [1,2,3,4]

                            .collapse(data-collapse-wrapper="")
                                .collapse__title(data-collapse="")
                                    .faq__title
                                        p Работаете ли вы по договору?
                                .collapse__body(data-collapse-body="")
                                    .faq__answer
                                        p Да, мы работаем официально по договору. <br>С юр. лифцами всех форм налооблажения.



    // end faq
